@import url("common.css");

/* Page-specific styles for search page */

@layer components {
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: start;
		width: 100%;

		& .chart {
			width: 90vw;
			max-width: calc(100vw - 2em);
			height: 66dvh;
			display: none;
			grid-column-start: 1;
			grid-column-end: 3;
		}

		& > section {
			overflow-y: auto;
			max-height: 100dvh;
			padding: 2em;
			line-height: 2;
		}

		& #top-articles {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}

	.form-container footer {
		align-self: start;
	}
}
