@layer reset, base, components, utilities;

@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  input,
  button,
  textarea,
  form {
    transition: outline-offset .2s ease;

    &:focus-visible {
      outline-offset: 1px;
    }
  }

  code {
    max-width: 80ch;
    max-height: 60dvh;
    overflow: scroll;
  }

  summary {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    /* Needed for positioning the pseudo-element */
    padding-left: 20px;
    /* Adjust as needed to make space for the arrow */
  }

  summary::before {
    display: block;
    width: 1rem;
    height: 1lh;
    margin-inline-start: calc(var(--spacing-md, 1rem));
    float: right;
    transform: rotate(0deg);
    --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");

    background-image: var(--icon-chevron);
    background-position: left center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
    /* Smooth transition for rotation */
    transition: transform 0.2s ease-in-out;
  }

  details {
    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition: content-visibility 0.5s allow-discrete, opacity 0.5s, block-size 0.5s;
    }

    &[open]::details-content {
      opacity: 1;
      block-size: auto;
    }

    &[open]>summary::before {
      transform: rotate(180deg);
    }

    &[open] ul {
      border-inline-start: 1px solid var(--border-color-base);
    }

  }

  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }
}

@layer base {
  :root {
    --font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    --border-radius: 0.5rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
  }

  body {
    font-family: var(--font-family-sans-serif);
    background-color: var(--background-color-base);
    color: var(--color-base);
    line-height: 1.5;
  }
}

@layer components {
  .app-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100dvh;
    overflow: hidden;
  }
  .primary-button {
    background-color: var(--background-color-progressive);
    color: var(--color-base);
    border: none;
    padding: var(--spacing-md) var(--spacing-xl);
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    place-content: center;

    &:hover {
      background-color: var(--background-color-progressive--hover);
    }

    &:disabled {
      background-color: var(--background-color-disabled);
      cursor: not-allowed;
    }
  }
  .sidebar {
    border-right: 1px solid var(--border-color-base);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1em;

    form {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .form-item {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: var(--font-size-sm);
        color: var(--color-subtle);
      }

      input,
      select,
      button {
        padding: 8px;
        font-size: 14px;
      }
    }

    .error-message {
      color: var(--color-error);
      position: absolute;
      bottom: 1em;
    }
  }

  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;


    .chart {
      width: 100%;
      height: min(600px, 66dvh);
    }
  }
}
