{% extends "base.html" %}

{% block title %}Topic Trends - Content Gap{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/content-gap.css">
{% endblock %}

{% block content %}
<div class="app-container">
  <div class="form-container">
    <h2>Content Gap</h2>
    <form id="content-gap-form">
      <div class="header-wiki-selector">
        {% include "wiki-selector.html" %}
      </div>

      <div class="form-item">
        <input type="radio" id="tab-topic" name="type" value="topic" checked />
        <input type="radio" id="tab-category" name="type" value="category" />
        <div class="tab">
          <label for="tab-topic" class="cdx-label">Topic</label>
          <label for="tab-category" class="cdx-label">Category</label>
        </div>
        <div class="tab-content">
          <div class="tab-content-topic">
            <input type="text" id="topic" name="topic" pattern="[\x00-\x7F]+"  class="cdx-text-input__input"
              placeholder="Enter any topic" />
          </div>
          <div class="tab-content-category">
            <wiki-category-selector id="category" name="category"
              placeholder="Search category"></wiki-category-selector>
            <input name="category_qid" id="category_qid" type="hidden">
          </div>
        </div>
      </div>

      <div class="form-item">
        <label for="depth">Depth</label>
        <input type="number" id="depth" name="depth" value="2" min="1" max="5"
          class="cdx-text-input__input depth-input">
      </div>

      <div class="form-item">
        <button type="submit"
          class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">Analyse</button>
      </div>
    </form>
  </div>

  <div class="main">
    <section id="content-gap-results" hidden>
      <div id="results-header" class="results-header"></div>
      <div id="wiki-results" class="wiki-results"></div>
    </section>
    <footer>
      <p id="status" class="status"></p>
    </footer>
  </div>
</div>

<dialog id="article-count-chart-dialog" aria-label="Article count chart">
  <div class="dialog-header">
    <h2 id="chart-dialog-title">Articles per wiki</h2>
    <button id="close-chart-dialog" class="cdx-button" aria-label="Close">✕</button>
  </div>
  <div id="article-count-chart"></div>
</dialog>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="/static/wikicategoryselector.js" type="module"></script>
<script src="/static/content-gap.js" type="module"></script>
{% endblock %}
