{% extends "base.html" %}

{% block title %}Topic Trends - Most Viewed Articles{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block content %}
<div class="app-container">
  <div class="form-container">
    <h2>Most Viewed Articles</h2>
    <form-filler>
    <form id="top-form">
      <div class="header-wiki-selector">
        {% include "wiki-selector.html" %}
      </div>
      <date-range-picker min-date="2015-07-01">
        <input type="date" id="start_date" name="start-date" data-role="start" class="cdx-text-input__input">
        <input type="date" id="end_date" name="end-date" data-role="end" class="cdx-text-input__input">
      </date-range-picker>
      <div class="form-item">
        <button type="submit"
          class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">Show</button>
      </div>
    </form>
    </form-filler>
    <p id="stats-display" class="status"></p>
  </div>
  <div class="main" data-metric="pageviews"></div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/components/date-range-picker.js" type="module"></script>
<script src="/static/components/wiki-article-info.js" type="module"></script>
<script src="/static/components/form-filler.js" type="module"></script>
<script src="/static/top-articles-page.js" type="module"></script>
{% endblock %}
