{% extends "base.html" %}

{% block title %}Topic Trends - Page Edit Trends{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block content %}
<div class="app-container">
  <div class="form-container">
    <h2>Page Edit Trends</h2>
    <form-filler>
    <form id="trend-form">
      <div class="header-wiki-selector">
      {% include "wiki-selector.html" %}
      </div>
      <div class="form-item">
        <input type="radio" id="tab-topic" name="type" value="topic" checked />
        <input type="radio" id="tab-category" name="type" value="category" />
        <input type="radio" id="tab-article" name="type" value="article" />
        <div class="tab">
          <label for="tab-topic" class="cdx-label">Topic</label>
          <label for="tab-category" class="cdx-label">Category</label>
          <label for="tab-article" class="cdx-label">Article</label>
        </div>
        <div class="tab-content">
          <div class="tab-content-topic">
            <input type="text" id="topic" name="topic"  pattern="[\x00-\x7F]+" class="cdx-text-input__input"
              placeholder="Enter any topic" />
            <p class="field-description">Describe a concept in plain English. We'll find Wikipedia articles that semantically match your description.</p>
          </div>
          <div class="tab-content-category">
            <wiki-category-selector id="category" name="category"
              placeholder="Search category"></wiki-category-selector>
            <p class="field-description">A Wikipedia category name. Use autocomplete to find the exact category.</p>
          </div>
          <div class="tab-content-article">
            <wiki-article-selector id="article" name="article" placeholder="Search article"></wiki-article-selector>
            <p class="field-description">A Wikipedia article title. Use autocomplete to find the exact article.</p>
          </div>
        </div>
      </div>
      <date-range-picker min-date="2001-01-01">
        <input type="date" id="start_date" name="start-date" data-role="start" required class="cdx-text-input__input">
        <input type="date" id="end_date" name="end-date" data-role="end" required class="cdx-text-input__input">
      </date-range-picker>
      <div class="form-item">
        <button type="submit"
          class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">Submit</button>
      </div>
      <input name="category_qid" id="category_qid" type="hidden">
      <input name="article_qid" id="article_qid" type="hidden">
    </form>
    </form-filler>
    <a href="/pageedits/delta">Page edit trends by topic for this wiki</a>
    <section id="category-list"></section>

  </div>
  <div class="main">    <section class="examples" hidden>
  <h2>Examples</h2>
         <ul>
           <li><a href="/pageedits/trends?type=topic&wiki=enwiki&start_date=2026-01-01&end_date=2026-02-02&topic=2026_Winter_Olympics">
               Plot the English wikipedia pageedits for "2026 Winter Olympics" between Jan 1st 2026 to Feb 2026 using semantic topic search.
             </a>           </li>
           <li><a href="/pageedits/trends?type=category&wiki=enwiki&start_date=2026-01-01&end_date=2026-02-02&category=2026_Winter_Olympics">
               Plot the English wikipedia pageedits for the category "2026 Winter Olympics".
             </a>           </li>
         </ul>
</section>
    <div id="chart" class="chart"></div>
    <section id="top-articles" class="top-articles"></section>
    <footer>
      <p id="status" class="status"></p>
    </footer>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/components/date-range-picker.js" type="module"></script>
<script src="/static/components/wiki-article-info.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="/static/components/form-filler.js" type="module"></script>
<script src="/static/pageedit-trends.js" type="module"></script>
<script src="/static/components/wikiarticleselector.js" type="module"></script>
<script src="/static/components/wikicategoryselector.js" type="module"></script>
<script src="/static/components/wiki-trends.js" type="module"></script>
<script src="/static/components/wiki-category.js" type="module"></script>
{% endblock %}
