{% extends "base.html" %}

{% block title %}Semantic Topic Model{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/search.css">
{% endblock %}

{% block content %}
<div class="app-container">
  <div class="form-container">
    <h2>Semantic Topic Search</h2>
    <p class="help-text">Enter a Wikipedia category name or plain English text for semantic search.</p>
    <form id="search-form">
      <div class="form-item">
        <label for="category" class="cdx-label">Category</label>
        <input class="cdx-text-input__input" type="search" id="category" name="category"
          placeholder="Search category"/>
      </div>
      <div class="form-item">
        <label for="match_threshold" class="cdx-label">Match threshold</label>
        <input class="cdx-text-input__input" type="number" id="match_threshold" name="match_threshold" value="0.6"
          min="0.1" step="0.05" max="1.0"/>
      </div>
      <div class="form-item">
        <button type="submit"
          class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">Search</button>
      </div>
    </form>
    <div class="form-item trend-links">
        <a id="pageviews-trends-link" href="#">Pageviews trends</a>
        <a id="pageedits-trends-link" href="#">Pageedits trends</a>
    </div>
    <footer>
      <p id="status" class="status"></p>
    </footer>

  </div>
  <div class="main">
    <section id="category-list"></section>
    <section id="article-list"></section>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/search.js" type="module"></script>
{% endblock %}
