{% extends "base.html" %}

{% block title %}Semantic Topic Model{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/search.css">
{% endblock %}

{% block content %}
<div class="app-container">
  <div class="form-container">
    <h2>Semantic Topic Search</h2>
    <form-filler>
    <form id="search-form">
      {% include "wiki-selector.html" %}
      <div class="form-item">
        <label for="category" class="cdx-label">Topic</label>
        <input class="cdx-text-input__input" type="search" id="category" name="category" pattern="[\x00-\x7F]+"
          placeholder="Search topics"/>
        <p class="field-description">Describe a concept in plain English. We'll find Wikipedia articles that semantically match your description.</p>
      </div>
      <div class="form-item">
        <label for="match_threshold" class="cdx-label">Match threshold</label>
        <input class="cdx-text-input__input" type="number" id="match_threshold" name="match_threshold" value="0.6"
          min="0.1" step="0.05" max="1.0"/>
      </div>
      <div class="form-item">
        <button type="submit"
          class="cdx-button cdx-button--action-progressive cdx-button--weight-primary">Search</button>
      </div>
    <div class="form-item trend-links">
        <a id="pageviews-trends-link" href="#">Pageviews trends</a>
        <a id="pageedits-trends-link" href="#">Pageedits trends</a>
        <a id="googlesearch-trends-link" href="#">Google search trends</a>
    </div>
    </form>
    </form-filler>
    <footer>
      <p id="status" class="status"></p>
    </footer>

  </div>
  <div class="main">
    <section id="category-list"></section>
    <section id="article-list"></section>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/components/form-filler.js" type="module"></script>
<script src="/static/search.js" type="module"></script>
{% endblock %}
