openapi: 3.1.0

info:
  title: TopicTrends HTTP API
  description: |
    TopicTrends HTTP API exposed by the Axum web server.

    Notes:
    - All endpoints are `GET` and accept parameters via query string.
    - Dates are encoded as `YYYY-MM-DD`.
    - Error responses are returned as JSON: `{ "error": "..." }`.
  version: 0.1.0

servers:
  - url: https://topictrends.wmcloud.org
    description: Production
  - url: http://localhost:8765
    description: Local development

tags:
  - name: Pageviews
    description: Pageview trend endpoints
  - name: Pageedits
    description: Page edit trend endpoints
  - name: GoogleSearch
    description: Google search trend endpoints
  - name: Delta
    description: Delta analysis endpoints
  - name: Search
    description: Semantic category search endpoints
  - name: Lists
    description: Listing and graph helper endpoints

paths:
  /api/pageviews/category:
    get:
      operationId: getCategoryPageviewTrend
      tags: [Pageviews]
      summary: Category pageview trend
      description: Daily pageviews for a category (optionally including subcategories).
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/CategoryQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageviews/article:
    get:
      operationId: getArticlePageviewTrend
      tags: [Pageviews]
      summary: Article pageview trend
      description: Daily pageviews for an article.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Article"
        - $ref: "#/components/parameters/ArticleQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/category:
    get:
      operationId: getCategoryPageeditTrend
      tags: [Pageedits]
      summary: Category page edit trend
      description: Daily edits for a category (optionally including subcategories).
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/CategoryQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryEditTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/article:
    get:
      operationId: getArticlePageeditTrend
      tags: [Pageedits]
      summary: Article page edit trend
      description: Daily edits for an article.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Article"
        - $ref: "#/components/parameters/ArticleQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleEditTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/category:
    get:
      operationId: getCategoryGoogleSearchTrend
      tags: [GoogleSearch]
      summary: Category Google search trend
      description: Daily Google search metrics for a category (optionally including subcategories).
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/CategoryQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleSearchCategoryTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/article:
    get:
      operationId: getArticleGoogleSearchTrend
      tags: [GoogleSearch]
      summary: Article Google search trend
      description: Daily Google search metrics for an article.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Article"
        - $ref: "#/components/parameters/ArticleQidOptional"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleSearchArticleTrendResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/list/sub_categories:
    get:
      operationId: listSubCategories
      tags: [Lists]
      summary: List subcategories
      description: |
        Returns subcategories for a category, sorted by title — QID, local
        title and (for non-English wikis) the English label for each.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Category"
        - $ref: "#/components/parameters/CategoryQidOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CategoryInfo"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageviews/top_categories:
    get:
      operationId: getPageviewsTopCategories
      tags: [Pageviews]
      summary: Top categories by pageviews
      description: Returns top categories ranked by total pageviews in the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryRankResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageviews/top_articles:
    get:
      operationId: getPageviewsTopArticles
      tags: [Pageviews]
      summary: Top articles by pageviews
      description: Returns globally top viewed articles for the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageViewTopArticlesResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/top_categories:
    get:
      operationId: getPageeditsTopCategories
      tags: [Pageedits]
      summary: Top categories by page edits
      description: Returns top categories ranked by total edit count in the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryEditRankResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/top_articles:
    get:
      operationId: getPageeditsTopArticles
      tags: [Pageedits]
      summary: Top articles by page edits
      description: Returns globally top edited articles for the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageEditTopArticlesResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/top_categories:
    get:
      operationId: getGooglesearchTopCategories
      tags: [GoogleSearch]
      summary: Top categories by Google search clicks
      description: Returns top categories ranked by total Google Search clicks in the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorySearchRankResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/top_articles:
    get:
      operationId: getGooglesearchTopArticles
      tags: [GoogleSearch]
      summary: Top articles by Google search clicks
      description: Returns globally top searched articles for the period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/StartDateOptional"
        - $ref: "#/components/parameters/EndDateOptional"
        - $ref: "#/components/parameters/TopNOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleSearchTopArticlesResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageviews/delta/categories:
    get:
      operationId: getCategoryPageviewDelta
      tags: [Delta]
      summary: Category pageview delta
      description: Delta of category pageviews between a baseline and an impact period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageViewCategoryDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageviews/delta/articles:
    get:
      operationId: getArticlePageviewDelta
      tags: [Delta]
      summary: Article pageview delta
      description: Delta of article pageviews within a category between two periods.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/CategoryQidRequired"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageViewArticleDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/delta/categories:
    get:
      operationId: getCategoryPageeditDelta
      tags: [Delta]
      summary: Category page edit delta
      description: Delta of category edits between a baseline and an impact period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageEditCategoryDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/pageedits/delta/articles:
    get:
      operationId: getArticlePageeditDelta
      tags: [Delta]
      summary: Article page edit delta
      description: Delta of article edits within a category between two periods.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/CategoryQidRequired"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageEditArticleDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/delta/categories:
    get:
      operationId: getCategoryGoogleSearchDelta
      tags: [Delta, GoogleSearch]
      summary: Category Google search delta
      description: Delta of category search clicks between a baseline and an impact period.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleSearchCategoryDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/googlesearch/delta/articles:
    get:
      operationId: getArticleGoogleSearchDelta
      tags: [Delta, GoogleSearch]
      summary: Article Google search delta
      description: Delta of article search clicks within a category between two periods.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/CategoryQidRequired"
        - $ref: "#/components/parameters/BaselineStartDate"
        - $ref: "#/components/parameters/BaselineEndDate"
        - $ref: "#/components/parameters/ImpactStartDate"
        - $ref: "#/components/parameters/ImpactEndDate"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleSearchArticleDeltaResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/search/categories:
    get:
      operationId: searchCategories
      tags: [Search]
      summary: Semantic search for categories
      description: Searches categories (embedding-based) and returns matches above a threshold.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/Query"
        - $ref: "#/components/parameters/MatchThresholdOptional"
        - $ref: "#/components/parameters/SearchLimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorySearchResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/list/articles:
    get:
      operationId: listArticlesInCategory
      tags: [Lists]
      summary: List articles in category
      description: |
        Returns article QIDs (direct members only) and titles for a category.

        Note: at least one of `category` or `category_qid` must be provided.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/CategoryOptional"
        - $ref: "#/components/parameters/CategoryQidOptional"
        - name: min_agreement
          in: query
          required: false
          description: >
            Keep only members whose direct membership edge is asserted by at
            least this many Wikipedia editions (default 1). Meaningful when the
            server runs on the canonical cross-wiki topology; on local topology
            every edge counts as 1.
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticlesInCategoryResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/list/article_categories:
    get:
      operationId: listArticleCategories
      tags: [Lists]
      summary: List categories for an article
      description: |
        Returns all categories that an article belongs to.

        Note: at least one of `article` or `article_qid` must be provided.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/ArticleOptional"
        - $ref: "#/components/parameters/ArticleQidOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticleCategoriesResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/related/articles:
    get:
      operationId: getRelatedArticles
      tags: [Lists]
      summary: Find related articles by shared-category overlap
      description: |
        Returns the articles that share the most categories with the given
        article, ranked by overlap. Each result includes the title, a
        constructed Wikipedia URL, and the shared-category count (`score`).

        Runs entirely on the in-memory category graph. Note: at least one of
        `article` or `article_qid` must be provided.
      parameters:
        - $ref: "#/components/parameters/Wiki"
        - $ref: "#/components/parameters/ArticleOptional"
        - $ref: "#/components/parameters/ArticleQidOptional"
        - $ref: "#/components/parameters/LimitOptional"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelatedArticlesResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/content_gap/categories:
    get:
      operationId: getContentGapCategories
      tags: [ContentGap]
      summary: Content gap for one category across wikis
      description: |
        Compares one category's coverage across the requested wikis. Each
        wiki's `article_count` is the category's `qid_overlap_coverage` from
        the monthly coverage snapshot — how many of the category's
        globally-known articles exist in that wiki — the same measure the
        gap-discovery ranking uses.

        Either `category` (an enwiki title) or `category_qid` must be provided.
      parameters:
        - $ref: "#/components/parameters/CategoryOptional"
        - $ref: "#/components/parameters/CategoryQidOptional"
        - $ref: "#/components/parameters/Wikis"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentGapResult"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/gap_discovery/categories:
    get:
      operationId: getGapDiscovery
      tags: [ContentGap]
      summary: Rank categories where a target wiki lags a reference wiki
      description: |
        From the precomputed coverage matrix, finds the categories whose
        canonical articles the reference edition has and the target lacks
        (`gap = qid_overlap(reference) - qid_overlap(target)`). By default rows are
        ranked by estimated missing readership
        `overlap_pageviews × gap / overlap_reference` — average monthly views per
        reference article times the missing-article count — which demotes bot stub
        farms. These are the *reference* wiki's pageviews (a global-importance
        proxy), not traffic the target would inherit. Set `weight=false` for a raw
        missing-article-count ranking. Maintenance / content-organization
        categories are excluded server-side. Supports skip/limit pagination, a
        `min_ref` floor (to drop tiny noise), and a structure filter
        (`has_category`: `false` = category absent in target, `true` = present but
        under-populated).

        If the reference snapshot predates the pageview column the request
        silently falls back to the raw gap ranking and `weighted_applied` is
        `false`.
      parameters:
        - name: reference
          in: query
          required: true
          schema: { type: string }
          description: Reference (baseline) wiki, e.g. enwiki.
        - name: target
          in: query
          required: true
          schema: { type: string }
          description: Target (analysed) wiki, e.g. mlwiki.
        - name: skip
          in: query
          required: false
          schema: { type: integer, default: 0 }
          description: Skip the top N ranked rows (alias of `offset`).
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 50, maximum: 200 }
        - name: min_ref
          in: query
          required: false
          schema: { type: integer }
        - name: has_category
          in: query
          required: false
          schema: { type: boolean }
        - name: weight
          in: query
          required: false
          schema: { type: boolean, default: true }
          description: Rank by estimated missing readership (default); set false for a raw missing-article-count ranking.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GapDiscoveryResponse"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  parameters:
    Wiki:
      name: wiki
      in: query
      required: true
      description: Wikipedia edition database name (e.g., `enwiki`, `mlwiki`).
      schema:
        type: string
        minLength: 1

    Wikis:
      name: wikis
      in: query
      required: true
      description: Comma-separated list of Wikipedia edition database names (e.g., `enwiki,frwiki,dewiki`).
      schema:
        type: string
        minLength: 1

    Category:
      name: category
      in: query
      required: true
      description: Category title in the given wiki (without the `Category:` prefix).
      schema:
        type: string
        minLength: 1

    CategoryOptional:
      name: category
      in: query
      required: false
      description: Category title in the given wiki (without the `Category:` prefix).
      schema:
        type: string
        minLength: 1

    Article:
      name: article
      in: query
      required: true
      description: Article title in the given wiki.
      schema:
        type: string
        minLength: 1

    ArticleOptional:
      name: article
      in: query
      required: false
      description: Article title in the given wiki.
      schema:
        type: string
        minLength: 1

    Query:
      name: query
      in: query
      required: true
      description: Search query string.
      schema:
        type: string
        minLength: 1

    CategoryQidOptional:
      name: category_qid
      in: query
      required: false
      description: Wikidata QID as a numeric ID (e.g., `42` for Q42).
      schema:
        type: integer
        format: int32
        minimum: 0

    CategoryQidRequired:
      name: category_qid
      in: query
      required: true
      description: Wikidata QID as a numeric ID (e.g., `42` for Q42).
      schema:
        type: integer
        format: int32
        minimum: 0

    ArticleQidOptional:
      name: article_qid
      in: query
      required: false
      description: Wikidata QID as a numeric ID (e.g., `42` for Q42).
      schema:
        type: integer
        format: int32
        minimum: 0

    LimitOptional:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        format: int32
        minimum: 0

    TopNOptional:
      name: top_n
      in: query
      required: false
      description: Number of top categories to return.
      schema:
        type: integer
        format: int32
        minimum: 0

    MatchThresholdOptional:
      name: match_threshold
      in: query
      required: false
      description: Minimum match score threshold.
      schema:
        type: number
        format: float
        minimum: 0
        maximum: 1

    SearchLimitOptional:
      name: limit
      in: query
      required: false
      description: Maximum number of search candidates to consider.
      schema:
        type: integer
        format: int64
        minimum: 0

    StartDateOptional:
      name: start_date
      in: query
      required: false
      description: Start date (inclusive).
      schema:
        type: string
        format: date

    EndDateOptional:
      name: end_date
      in: query
      required: false
      description: End date (inclusive).
      schema:
        type: string
        format: date

    BaselineStartDate:
      name: baseline_start_date
      in: query
      required: true
      description: Baseline period start date (inclusive).
      schema:
        type: string
        format: date

    BaselineEndDate:
      name: baseline_end_date
      in: query
      required: true
      description: Baseline period end date (inclusive).
      schema:
        type: string
        format: date

    ImpactStartDate:
      name: impact_start_date
      in: query
      required: true
      description: Impact period start date (inclusive).
      schema:
        type: string
        format: date

    ImpactEndDate:
      name: impact_end_date
      in: query
      required: true
      description: Impact period end date (inclusive).
      schema:
        type: string
        format: date

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            default:
              value:
                error: Resource not found

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            default:
              value:
                error: Internal server error

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string

    Date:
      type: string
      format: date
      examples: ["2026-02-16"]

    DailyViews:
      type: object
      required: [date, views]
      properties:
        date:
          $ref: "#/components/schemas/Date"
        views:
          type: integer
          format: int64
          minimum: 0

    DailyEdits:
      type: object
      required: [date, edits]
      properties:
        date:
          $ref: "#/components/schemas/Date"
        edits:
          type: integer
          format: int64
          minimum: 0

    DailyGoogleSearch:
      type: object
      required: [date, clicks, impressions, ctr, position]
      properties:
        date:
          $ref: "#/components/schemas/Date"
        clicks:
          type: integer
          format: int64
          minimum: 0
        impressions:
          type: integer
          format: int64
          minimum: 0
        ctr:
          type: number
          format: double
          minimum: 0
        position:
          type: number
          format: double
          minimum: 0

    TopArticle:
      type: object
      required: [qid, title, views, source_categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        views:
          type: integer
          format: int32
          minimum: 0
        source_categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    TopArticleEdits:
      type: object
      required: [qid, title, edits, source_categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: integer
          format: int64
          minimum: 0
        source_categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    TopArticleGoogleSearch:
      type: object
      required: [qid, title, clicks, impressions, ctr, source_categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        clicks:
          type: integer
          format: int64
          minimum: 0
        impressions:
          type: integer
          format: int64
          minimum: 0
        ctr:
          type: number
          format: double
          minimum: 0
        source_categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    ArticleTrendResponse:
      type: object
      required: [qid, title, views]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        views:
          type: array
          items:
            $ref: "#/components/schemas/DailyViews"

    CategoryTrendResponse:
      type: object
      required: [qid, title, views, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        views:
          type: array
          items:
            $ref: "#/components/schemas/DailyViews"
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticle"

    ArticleEditTrendResponse:
      type: object
      required: [qid, title, edits]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: array
          items:
            $ref: "#/components/schemas/DailyEdits"

    CategoryEditTrendResponse:
      type: object
      required: [qid, title, edits, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: array
          items:
            $ref: "#/components/schemas/DailyEdits"
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleEdits"

    GoogleSearchArticleTrendResponse:
      type: object
      required: [qid, title, search]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        search:
          type: array
          items:
            $ref: "#/components/schemas/DailyGoogleSearch"

    GoogleSearchCategoryTrendResponse:
      type: object
      required: [qid, title, search, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        search:
          type: array
          items:
            $ref: "#/components/schemas/DailyGoogleSearch"
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleGoogleSearch"

    CategoryInfo:
      type: object
      required: [qid, title]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.

    RankedCategoryInfo:
      type: object
      required: [qid, title, wiki_count]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        wiki_count:
          type: integer
          format: int32
          minimum: 1
          description: Number of Wikipedia editions asserting this assignment.

    TopCategory:
      type: object
      required: [qid, title, views, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        views:
          type: integer
          format: int32
          minimum: 0
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticle"

    CategoryRankResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopCategory"

    TopArticleCategory:
      type: object
      required: [qid, title]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.

    PageViewTopArticle:
      type: object
      required: [qid, title, views, categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        views:
          type: integer
          format: int32
          minimum: 0
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    PageViewTopArticlesResponse:
      type: object
      required: [articles]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/PageViewTopArticle"

    TopArticleByEdits:
      type: object
      required: [qid, title, edits]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: integer
          format: int64
          minimum: 0

    TopCategoryByEdits:
      type: object
      required: [qid, title, edits, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: integer
          format: int64
          minimum: 0
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleByEdits"

    CategoryEditRankResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopCategoryByEdits"

    PageEditTopArticle:
      type: object
      required: [qid, title, edits, categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        edits:
          type: integer
          format: int64
          minimum: 0
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    PageEditTopArticlesResponse:
      type: object
      required: [articles]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/PageEditTopArticle"

    TopArticleBySearch:
      type: object
      required: [qid, title, clicks, impressions, ctr]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        clicks:
          type: integer
          format: int64
          minimum: 0
        impressions:
          type: integer
          format: int64
          minimum: 0
        ctr:
          type: number
          format: double

    TopCategoryBySearch:
      type: object
      required: [qid, title, clicks, impressions, ctr, top_articles]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        clicks:
          type: integer
          format: int64
          minimum: 0
        impressions:
          type: integer
          format: int64
          minimum: 0
        ctr:
          type: number
          format: double
        top_articles:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleBySearch"

    CategorySearchRankResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopCategoryBySearch"

    GoogleSearchTopArticle:
      type: object
      required: [qid, title, clicks, impressions, ctr, categories]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        clicks:
          type: integer
          format: int64
          minimum: 0
        impressions:
          type: integer
          format: int64
          minimum: 0
        ctr:
          type: number
          format: double
        categories:
          type: array
          items:
            $ref: "#/components/schemas/TopArticleCategory"

    GoogleSearchTopArticlesResponse:
      type: object
      required: [articles]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/GoogleSearchTopArticle"

    PageViewCategoryDeltaItemResponse:
      type: object
      required:
        [category_qid, category_title, baseline_views, impact_views, delta_percentage, absolute_delta]
      properties:
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_views:
          type: integer
          format: int64
        impact_views:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    PageViewCategoryDeltaResponse:
      type: object
      required: [categories, baseline_period, impact_period]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/PageViewCategoryDeltaItemResponse"
        baseline_period:
          type: string
        impact_period:
          type: string

    PageViewArticleDeltaItemResponse:
      type: object
      required:
        [article_qid, article_title, baseline_views, impact_views, delta_percentage, absolute_delta]
      properties:
        article_qid:
          type: integer
          format: int32
          minimum: 0
        article_title:
          type: string
        article_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_views:
          type: integer
          format: int64
        impact_views:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    PageViewArticleDeltaResponse:
      type: object
      required: [articles, category_qid, category_title, baseline_period, impact_period]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/PageViewArticleDeltaItemResponse"
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_period:
          type: string
        impact_period:
          type: string

    PageEditCategoryDeltaItemResponse:
      type: object
      required:
        [category_qid, category_title, baseline_edits, impact_edits, delta_percentage, absolute_delta]
      properties:
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_edits:
          type: integer
          format: int64
        impact_edits:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    PageEditCategoryDeltaResponse:
      type: object
      required: [categories, baseline_period, impact_period]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/PageEditCategoryDeltaItemResponse"
        baseline_period:
          type: string
        impact_period:
          type: string

    PageEditArticleDeltaItemResponse:
      type: object
      required:
        [article_qid, article_title, baseline_edits, impact_edits, delta_percentage, absolute_delta]
      properties:
        article_qid:
          type: integer
          format: int32
          minimum: 0
        article_title:
          type: string
        article_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_edits:
          type: integer
          format: int64
        impact_edits:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    PageEditArticleDeltaResponse:
      type: object
      required: [articles, category_qid, category_title, baseline_period, impact_period]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/PageEditArticleDeltaItemResponse"
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_period:
          type: string
        impact_period:
          type: string

    GoogleSearchCategoryDeltaItemResponse:
      type: object
      required:
        [category_qid, category_title, baseline_clicks, impact_clicks, baseline_impressions, impact_impressions, delta_percentage, absolute_delta]
      properties:
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_clicks:
          type: integer
          format: int64
        impact_clicks:
          type: integer
          format: int64
        baseline_impressions:
          type: integer
          format: int64
        impact_impressions:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    GoogleSearchCategoryDeltaResponse:
      type: object
      required: [categories, baseline_period, impact_period]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/GoogleSearchCategoryDeltaItemResponse"
        baseline_period:
          type: string
        impact_period:
          type: string

    GoogleSearchArticleDeltaItemResponse:
      type: object
      required:
        [article_qid, article_title, baseline_clicks, impact_clicks, baseline_impressions, impact_impressions, delta_percentage, absolute_delta]
      properties:
        article_qid:
          type: integer
          format: int32
          minimum: 0
        article_title:
          type: string
        article_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_clicks:
          type: integer
          format: int64
        impact_clicks:
          type: integer
          format: int64
        baseline_impressions:
          type: integer
          format: int64
        impact_impressions:
          type: integer
          format: int64
        delta_percentage:
          type: number
          format: double
        absolute_delta:
          type: integer
          format: int64

    GoogleSearchArticleDeltaResponse:
      type: object
      required: [articles, category_qid, category_title, baseline_period, impact_period]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/GoogleSearchArticleDeltaItemResponse"
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title:
          type: string
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        baseline_period:
          type: string
        impact_period:
          type: string

    CategorySearchItemResponse:
      type: object
      required: [category_qid, category_title_en, category_title, match_score]
      properties:
        category_qid:
          type: integer
          format: int32
          minimum: 0
        category_title_en:
          type: string
        category_title:
          type: string
        match_score:
          type: number
          format: float

    CategorySearchResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/CategorySearchItemResponse"

    ArticleItem:
      type: object
      required: [qid, title]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.

    ArticlesInCategoryResponse:
      type: object
      required: [articles]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/ArticleItem"

    ArticleCategoriesResponse:
      type: object
      required: [categories]
      description: >
        Categories ordered by cross-wiki agreement (highest first). Ties at the
        same wiki_count are common for articles existing in few editions —
        consumers should read the count, not trust the order alone.
      properties:
        categories:
          type: array
          items:
            $ref: "#/components/schemas/RankedCategoryInfo"

    RelatedArticleItem:
      type: object
      required: [qid, title, url, score]
      properties:
        qid:
          type: integer
          format: int32
          minimum: 0
        title:
          type: string
        title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        url:
          type: string
          description: Constructed Wikipedia article URL.
        score:
          type: integer
          format: int32
          minimum: 0
          description: Number of categories shared with the input article.

    RelatedArticlesResponse:
      type: object
      required: [articles]
      properties:
        articles:
          type: array
          items:
            $ref: "#/components/schemas/RelatedArticleItem"

    ContentGapWikiResult:
      type: object
      required: [wiki, article_count]
      properties:
        wiki:
          type: string
          description: Wikipedia edition code (e.g., `enwiki`, `frwiki`)
        article_count:
          type: integer
          format: int32
          minimum: 0
          description: Number of articles in the category/topic for this wiki

    ContentGapResult:
      type: object
      required: [category, category_qid, wikis]
      properties:
        category:
          type: string
          description: Category or topic label (input query or QID string)
        category_qid:
          type: integer
          format: int32
          minimum: 0
          description: Wikidata QID (0 for topic searches)
        wikis:
          type: array
          items:
            $ref: "#/components/schemas/ContentGapWikiResult"
          description: Article counts per wiki

    GapDiscoveryItem:
      type: object
      required: [category_qid, category_title, direct_coverage_target, overlap_target, overlap_reference, gap, coverage_pct, has_category, overlap_pageviews, weighted_score]
      properties:
        category_qid:
          type: integer
          format: int32
        category_title:
          type: string
          description: Category title resolved from the reference wiki (or `Q<id>` fallback)
        category_title_en:
          type: string
          description: English label for the same QID, resolved from English Wikipedia with the canonical-label fallback. Present only when the requested wiki is not enwiki and a label exists.
        direct_coverage_target:
          type: integer
          format: int32
          description: Articles filed directly under the category in the target wiki
        overlap_target:
          type: integer
          format: int32
          description: Canonical articles of the category present in the target wiki
        overlap_reference:
          type: integer
          format: int32
          description: Canonical articles of the category present in the reference wiki
        gap:
          type: integer
          format: int64
          description: overlap_reference - overlap_target
        coverage_pct:
          type: number
          format: double
          description: overlap_target / overlap_reference
        has_category:
          type: boolean
          description: Whether the target wiki has the category populated (direct_coverage_target > 0)
        overlap_pageviews:
          type: integer
          format: int64
          description: Windowed pageviews of the category's reference-side overlap articles (0 when unweighted)
        weighted_score:
          type: integer
          format: int64
          description: Estimated missing readership, overlap_pageviews × gap / overlap_reference (0 when unweighted)

    GapDiscoveryResponse:
      type: object
      required: [reference, target, reference_date, target_date, total, with_category, without_category, offset, limit, weighted, weighted_applied, categories]
      properties:
        reference:
          type: string
        target:
          type: string
        reference_date:
          type: string
          description: Reference snapshot date (YYYY-MM-DD)
        target_date:
          type: string
          description: Target snapshot date (YYYY-MM-DD)
        total:
          type: integer
          description: Total gaps matching the filters (before skip/limit)
        with_category:
          type: integer
          description: Of the filtered set, rows where the target has the category
        without_category:
          type: integer
          description: Of the filtered set, rows where the target lacks the category
        offset:
          type: integer
        limit:
          type: integer
        weighted:
          type: boolean
          description: Whether pageview weighting was requested
        weighted_applied:
          type: boolean
          description: Whether weighting was actually applied (false if the reference snapshot predates the pageview column)
        categories:
          type: array
          items:
            $ref: "#/components/schemas/GapDiscoveryItem"

